.user_info button {
    margin: 0 !important;
}

.user_info {
    margin: 2%;
}

.user_info span {
    font-weight: bolder;
    font-family: monospace;
    font-size: x-large;
}

.Edit_button {
    text-decoration: underline;
    border: none;
    font-size: large;
    color: blue;
}

.Edit_button:hover {
    text-decoration: underline;
    border: none;
    font-size: large;
    color: purple;
}

.user_info form,
.user_info label,
.user_info input {
    margin: 0 !important;
    padding: 0 !important;
}

.user_info form {
    display: flex;
    flex-direction: row;
}

.user_info form button {
    border: none;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

.user_info input {
    font-weight: bolder;
    font-family: monospace;
    border-radius: 0 !important;
}

@media screen and (min-width: 500px) {
.user_info label {
    margin-left: -25.7% !important;
}
}

.user_info form button:hover {
    border: none;
    font-weight: bold;
    text-decoration: underline;
    color: purple;
}