.FlaggedComment {
    margin-bottom: 2%;
    padding: 1%;
    border: #524c57 solid;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px grey;
  }

  .flagged_user {
      font-weight: bold;
      color: red;
  }

  .reported_by {
      font-style: italic;
  }
 
  .comment_content {
    padding: 2%;
    background-color: white;
    border: #524c57 solid 1px;
    border-radius: 10px;
    margin: 1%;
  }

  .action_buttons {
      display: flex;
      flex-direction: column;
      justify-content: left;
  }

  .FlaggedComment q {
      font-style: italic;
      background-color: white;
  }

  .FlaggedComment p {
      margin-left: 2%;
  }

  .FlaggedComment a p, .FlaggedComment button {
    border-radius: 8px;
    background-color: #524c57;
    color: #fff;
    font-weight: bolder;
    font-size: 12pt;
    padding: 4px 20px;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    width: max-content;
    margin-left: 2% !important;
    text-align: center;
  }

  .FlaggedComment a p:hover {
    background-color: brown;
  }
  