@media screen and (min-width: 500px) {
  .PendingMessage {
    margin-bottom: 2%;
    padding: 1%;
    border: #524c57 solid;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px grey;
    display: flex;
    flex-direction: row;
    background-color: #fffcf5;
  }
  .PendingMessage button {
    border-radius: 10px;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: bold;
    background-color: #f3f4f5;
    margin-right: 1% !important;
  }

  .PendingMessage button:hover {
    border-radius: 10px;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: bold;
    background-color: red;
    color: white;
    margin-right: 1% !important;
  }

  .outer_item {
    background-color: #fae5cf;
    border-radius: 10px;
    border: slategray solid 2px;
    padding: 1%;
    width: 20%;
    font-weight: bold;
    text-align: right;
    overflow-wrap: break-word;
  }
  .outer_item span {
    background-color: #fae5cf;
    font-style: italic;
    text-decoration: underline;
  }
  .outer_item a {
    background-color: #fae5cf;
    text-decoration: underline;
    color: blue;
  }
  .outer_item a:hover {
    color: purple;
  }

  .inner_item {
    border-radius: 10px;
    border: slategray solid 2px;
    padding: 1%;
    width: 600px !important;
    font-weight: bold;
    margin: 0 1% 0 1%;
    text-align: left;
  }
  .inner_item a span {
    border-radius: 10px;
    background-color: white;
    padding: 1%;
    border: gray solid 1px;
    text-decoration: underline;
    color: maroon;
  }
  .inner_item a span:hover {
    color: darkblue;
  }
}

@media screen and (max-width: 499.999px) {
  .PendingMessage {
    margin-bottom: 2%;
    padding: 1%;
    border: #524c57 solid;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px grey;
    display: flex;
    flex-direction: column;
    background-color: #fffcf5;
  }
  .PendingMessage button {
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 50%;
    font-weight: bold;
    width: fit-content;
    background-color: #f3f4f5;
    margin-right: 1% !important;
  }
  .outer_item {
    background-color: #fae5cf;
    border-radius: 10px;
    border: slategray solid 2px;
    padding: 1%;
    font-weight: bold;
  }
  .outer_item span {
    background-color: #fae5cf;
    font-style: italic;
    text-decoration: underline;
  }
  .outer_item a {
    background-color: #fae5cf;
    text-decoration: underline;
    color: blue;
  }
  .outer_item a:hover {
    color: purple;
  }
  .inner_item {
    border-radius: 10px;
    border: slategray solid 2px;
    padding: 1%;
    width: 90%;
    font-weight: bold;
    margin: 3%;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .inner_item a span {
    border-radius: 10px;
    padding: 1%;
    text-decoration: underline;
    color: maroon;
  }
  .inner_item a span:hover {
    color: darkblue;
  }
}
