.AddTrail {
    margin: 2%;
    padding: 2%;
}

.AddTrail h2 {
    margin-bottom: 1%;
}

hr {
    border: 1px solid;
}

.AddTrail_buttons {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.AddTrail_buttons button {
    margin-top: 2%;
}

