.EditTrailForm form {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.conditional_text {
  text-align: center;
  font-size: x-large;
}

.EditTrailForm form select {
  border-radius: 15px;
  background-color: #fffcf5;
  color: #374355;
  border-style: solid;
  border-width: 2px;
  width: max-content;
  margin: 1% 30% 0 4% !important;
}
