.NewTrailForm form {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.NewTrailForm form select {
    border-radius: 15px;
    background-color: #FFFCF5;
    color: #374355;
    border-style: solid;
    border-width: 2px;
    width: max-content;
    margin: 1% 30% 0 4% !important;
}

